################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DamnOverSharp/bin/Debug
/Example/bin/Debug
/MouseKeyHook/bin/Debug
